@charset "UTF-8";

.mdl-mini-footer--right-section i {
  padding-right: 3px;
   }
.mdl-mini-footer--right-section a {
 /* color: white; */
   }
/*.mdl-card__logocard > .mdl-card__profile { 
.demo-card-square > .mdl-card__profile {
	background: url("images/LogoNoBG.png") center/cover;
	
}

.demo-card-square.mdl-card{
	width: 320px;
	height: 320px;
} */