@charset "UTF-8";

.mdl-mini-footer--right-section i {
  padding-right: 3px;
   }
.mdl-mini-footer--right-section a {
 /* color: white; */
   }
./*mdl-card__logocard > .mdl-card__profile { 
.demo-card-square > .mdl-card__profile {
	background: url("images/LogoNoBG.png") center/cover;
	
}*/

/*.demo-card-square.mdl-card{
	width: 320px;
	height: 320px;
} */

.mdl-card__media .logo-picture {
	background-image: url('images/LogoNoBG.png');
}

.blog {

}

.mdl-card {
	color:white;
}

.mdl-card__media {
	box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}