html {
	position:relative;
	min-height:100%;
}
body{
	font-family:freight-sans-pro,sans-serif !important;
	padding-top: 70px;
	/*margin-bottom:80px !important;*/
}

.row{
	/*background-color:#66ffcc;*/
	/*text-align:center;*/
}

.top-buffer { 
	margin-top:20px; 
}

.test-col-1{
	background-color:#ff66ff;
}
.test-col-2{
	background-color:#66ffcc;
}
.test-col-3{
	background-color:#ffcc00;
}
.logo-img{
	background: url=("/images/longnobg.png");
}

/*.img-container{
    height:100%;
}

img{
    height:100% !important;
    width:100%;
}
.img-center {
	margin:0 auto;
}
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    }*/
    @media screen and (min-width: 992px) {
    	.vcenter {
    		display: flex;
    		align-items: center;
    		justify-content: center;
    	}
/*.footer{
	position:absolute;
	bottom:0;
	width:100%;*/
	/* Fixed height of the footer here */
/*	height:60px;
	background-color: #f5f5f5;
}
.footer-container{
	background-color:#00273D;
	padding:80px 0 80px 7%;
	position:relative;
	z-index:11
}*/


footer {
	background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
    bottom:0;
    width:100%;
}

footer .nav>li>a {
    padding: 3px;
    color: #f44d3c;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}

/* Style ID's */
#social-media {
	background-color:#00FFFF;
	color:#ddd;
	min-height:100px;
	padding-top:20px;
	padding-bottom:40px;
}

