body{
	font-family:freight-sans-pro,sans-serif !important;
}

.row{
	background-color:#d3d3d3;
}

.test-col-1{
	background-color:pink;
}
.test-col-2{
	background-color:blue;
}
.test-col-3{
	background-color:yellow;
}