body{
	font-family:freight-sans-pro,sans-serif !important;
	padding-top: 70px;
}

.row{
	/*background-color:#66ffcc;*/
	/*text-align:center;*/
}

.top-buffer { 
	margin-top:20px; 
}

.test-col-1{
	background-color:#ff66ff;
}
.test-col-2{
	background-color:#66ffcc;
}
.test-col-3{
	background-color:#ffcc00;
}
.logo-img{
	background: url=("/images/longnobg.png");
}

/*.img-container{
    height:100%;
}

img{
    height:100% !important;
    width:100%;
}
.img-center {
	margin:0 auto;
}
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    }*/
    @media screen and (min-width: 992px) {
    	.vcenter {
    		display: flex;
    		align-items: center;
    		justify-content: center;
    	}