<!-- FOOTER ATTEMPT 3 -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3 column">
          <h4>Content 1</h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3 column">
          <h4>Content 1</h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3 column">
          <h4>Content 1</h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3 column">
          <h4>Content 1</h4>
          <ul class="nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </div>
      </div> <!-- END ROW -->
      <p class="text-right">Blackl1st ©2015</p>
    </div>
  </footer>